# Ignorar arquivos compilados
/out
/bin
*.class

# Ignorar configurações do IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar o arquivo de preferências local (pois cada usuário terá o seu)
preferencias.txt